@model WilesJacksonBugTracker.Repository.Domain.BugPriorities

@{
    ViewData["Title"] = "Details";
}

<h3>Details</h3>

<div>
    <h4>BugPriorities</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BugPriorityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BugPriorityType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Update</a> |
    <a asp-action="Index">Back to Priority Setting</a>
</div>
